.enquiries-form {
  &__price {
    margin-top: 10px;
    bottom: 20px;
    right: 20px;
    font-weight: 600;
    color: darken($color-primary-green, 10%);
    display: block;
    span {
      color: $color-dark-gray;
      font-weight: 400;
    }
  }
}
