.establishment-form {
  padding-bottom: 60px;
  padding-right: 10px;
  position: relative;
  @media (max-width: 720px) {
    padding-right: 0;
  }
  &__top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 720px) {
      flex-direction: column;
    }
  }

  &__input-container {
    max-width: 280px;
    width: 100%;
    @media (max-width: 720px) {
      max-width: unset;
    }
  }

  &__image-container {
    max-width: 250px;
    @media (max-width: 720px) {
      max-width: unset;
    }

    input {
      margin-bottom: 55px;
      @media (max-width: 720px) {
        margin-bottom: 20px;
      }
    }
  }

  &__grid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__image {
    img {
      border-radius: 10px;
      margin-bottom: 20px;
    }
  }

  &__button {
    bottom: 0px;
    right: 20px;
    position: absolute;
    display: block;
    margin-top: 40px;
    margin-bottom: 0px;
    cursor: pointer;
    padding: 10px 20px;
    background: $color-primary-green;
    border: none;
    width: 115px;
    max-width: 100%;
    border-radius: 15px;
    transition: 0.3s;
    span {
      font-size: 18px;
      font-weight: 600;
      color: white;
    }

    &:hover {
      background: darken($color-primary-green, 10%);
      transition: 0.3s;
    }
    @media (max-width: 720px) {
      bottom: -40px;
    }
  }
}
