// Small devices
@mixin media-min-small {
  @media (min-width: #{$media-min-small}) {
    @content;
  }
}
// Medium devices
@mixin media-max-small {
  @media (max-width: #{$media-max-small}) {
    @content;
  }
}
// Large devices
@mixin media-min-medium {
  @media (min-width: #{$media-min-medium}) {
    @content;
  }
}

@mixin media-max-medium {
  @media (max-width: #{$media-max-medium}) {
    @content;
  }
}
// Large devices
@mixin media-min-large {
  @media (min-width: #{$media-min-large}) {
    @content;
  }
}

/*
 * Statically sized elements
 */

@mixin title1 {
  font-size: $font-title1-size;
  line-height: $font-title1-line-height;
}

@mixin title2 {
  font-size: $font-title2-size;
  line-height: $font-title2-line-height;
}

@mixin title3 {
  font-size: $font-title3-size;
  line-height: $font-title3-line-height;
}

@mixin large {
  font-size: $font-large-size;
  line-height: $font-large-line-height;
}

@mixin base {
  font-size: inherit;
  line-height: inherit;
}

@mixin small {
  font-size: $font-small-size;
  line-height: $font-small-line-height;
}

@mixin micro {
  font-size: $font-micro-size;
  line-height: $font-micro-line-height;
  text-transform: uppercase;
}

/*
 * Responsively sized elements
 */

@mixin paragraph {
  font-size: $font-base-size;
  line-height: $font-base-line-height;
  margin: 0.5rem 0 1rem 0;

  @include media-min-small {
    font-size: $font-base-size;
    line-height: $font-base-line-height;
  }

  @include media-min-medium {
    font-size: $font-large-size;
    line-height: $font-large-line-height;
  }
}

@mixin blockQuote {
  background: $color-very-light-gray;
}
