@import "./_variables.scss";
@import "./_mixins.scss";

@import "./components/header.scss";
@import "./components/layout.scss";
@import "./components/container.scss";
@import "./components/establishment.scss";

@import "./components/bits/filters.scss";
@import "./components/bits/readMessage.scss";
@import "./components/bits/readEnquiries.scss";
@import "./components/bits/datePicker.scss";
@import "./components/bits/dateField.scss";
@import "./components/bits/initialFilter.scss";
@import "./components/bits/establishmentListing.scss";
@import "./components/bits/inputRange.scss";
@import "./components/bits/widget.scss";
@import "./components/bits/dashboardListing.scss";
@import "./components/bits/modal.scss";

@import "./components/forms/forms.scss";
@import "./components/forms/enquiriesForm.scss";
@import "./components/forms/signInForm.scss";
@import "./components/forms/establishmentForm.scss";

@import "./pages/index.scss";
@import "./pages/browse.scss";
@import "./pages/dashboard.scss";
@import "./pages/signIn.scss";
@import "./pages/signUp.scss";
@import "./pages/contact.scss";

html {
  font-family: $font-family-sans;
  font-size: $font-base-size;
  line-height: $font-base-line-height;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $color-white;
  color: $color-dark-gray;
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

a {
  text-decoration: none;
  font-family: $montserrat;
}

button {
  font-family: $font-family-sans;
  font-weight: bold;
}

label {
  font-family: $font-family-sans;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans;
}

p,
input,
textarea {
  font-family: $montserrat;
  font-weight: 400;
}
