.header {
  position: relative;
  z-index: 100;
  height: 100px;

  &--white {
    color: white;
  }

  &__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1600px;
    padding: 1em 4%;
    display: flex;

    @include media-min-small {
      padding: 1.5em;
    }
  }

  &__branding {
    font-weight: 600;
    flex: 1;

    a {
      display: inline-block;
      padding: 0.5em;
      color: inherit;
      text-decoration: none;

      img {
        width: 120px;
      }

      &:hover {
        color: $color-accent;
      }
    }
  }

  &__nav-close {
    position: absolute;
    right: 15px;
    top: 35px;
    z-index: 999;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: 600;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    @media (min-width: 675px) {
      display: none;
    }
  }

  &__toggleNavButton {
    appearance: none;
    font-size: 25px;
    border: none;
    background: none;
    margin: 0;
    padding: calc(14 / 17 / 2 * 1rem);
    outline: none;
    color: inherit;
    margin-bottom: -20px;

    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
      color: white;
      display: block;
      fill: inherit;
    }

    @include media-min-medium {
      display: none;
    }
  }

  &__nav {
    display: none;
    position: relative;

    ul {
      width: 500px;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
      padding: 0;
      button {
        line-height: 24px;
        &:focus {
          outline: none;
        }
      }
    }

    ul li a,
    button {
      display: block;
      color: inherit;
      text-decoration: none;
      font-weight: 600;
      background: none;
      border: none;
      font-size: inherit;
      cursor: pointer;
      transition: 0.2s;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid $color-primary-green;
        transition: 0.2s;
      }
    }
    .header__link--active {
      border-bottom: 2px solid $color-dark-green !important;
    }
    @include media-max-medium {
      position: absolute;
      background: $color-white;
      color: $color-black;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      left: 0;
      right: 0;
      top: 4.3rem;

      ul {
        padding: 1rem 0;
      }

      ul li a,
      button {
        padding: 0.5rem 1.5rem;
      }
    }

    @include media-min-medium {
      display: block;

      ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
      }

      ul li a,
      button {
        padding: 0.5rem;
      }
    }
  }

  @media (max-width: 675px) {
    &__showNav {
      display: block;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-in;
      height: 100vh;
      background: $color-dark-green;
      margin-top: -69px;

      ul {
        width: 100%;
        margin-top: -100px;
        padding: 0;
        top: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      ul li a,
      button {
        width: 100%;
        margin: 10px auto;
        padding: 0;
        font-size: 1.2rem;
        color: white;
      }
      ul li button {
        margin: 60px auto;
      }
      &--open {
        max-height: 100vh;
        position: absolute;

        transition: max-height 0.3s ease-out;
        display: block;
      }
    }
  }
}
