.dashboard {
  min-height: 100vh;
  margin-top: -200px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
  }

  &__text {
    position: relative;
    width: 100%;
    font-size: 2.6rem;
    max-width: 670px;

    h1 {
      max-width: 100%;
      margin: 0;
      color: $color-dark-green;
    }
    span {
      max-width: 100%;
      font-size: 6.4rem;
      left: 15%;
      top: 200px;
      color: #393939;
    }
  }

  &__widgets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__establishments {
    margin-top: 50px;
    min-height: 100px;
    min-width: 100%;
  }

  &__listings-box {
    min-height: 100px;
    min-width: 100%;
    background: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 40px;
    box-sizing: border-box;
  }

  &__listings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__listings-buttons {
    position: relative;
    min-height: 100px;
  }

  &__button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: block;
    cursor: pointer;
    padding: 10px 20px;
    background: $color-primary-green;
    border: none;
    width: 200px;
    max-width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.3s;
    span {
      font-size: 22px;
      font-weight: 600;
      color: white;
    }
    img {
      width: 22px;
      margin-top: 3px;
      margin-right: 10px;
    }

    &:hover {
      background: darken($color-primary-green, 10%);
      transition: 0.3s;
    }
  }
}

.widget {
  margin-left: 50px;
  max-width: 300px;
  min-width: 300px;

  &__title {
    color: $color-dark-green;
  }

  &__box {
    background: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    max-width: 450px;
    width: 100%;
    padding: 30px 0px 0 40px;
    box-sizing: border-box;
    height: auto;
    min-height: 400px;
    max-height: 600px;
    overflow-y: auto;
  }

  &__button {
    position: relative;
    color: #393939;
    display: block;
    width: 100%;
    border: none;
    text-align: left;
    background: none;
    border-bottom: 2px solid $color-dark-green;
    font-size: 20px;
    padding: 10px 0 7px;
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 10px 0 0 0;
    font-family: $montserrat;
    font-weight: 600;

    img {
      position: absolute;
      right: 20px;
      bottom: 12px;
      transition: 0.2s;
    }

    &:focus {
      outline: none;
      font-weight: bold;

      img {
        right: 40px;
        transition: 0.2s;
      }
    }

    &:hover {
      font-weight: bold;

      img {
        right: 40px;
        transition: 0.2s;
      }
    }
  }
}

.dashboard-listing {
  max-width: 360px;
  width: 100%;
  min-width: 360px;
  max-height: 300px;
  margin-bottom: 40px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.49);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    box-sizing: border-box;
  }

  &__title {
    color: white;
    margin-top: 20px;
  }

  &__button {
    box-sizing: content-box;
    display: block;
    cursor: pointer;
    padding: 5px 10px;
    background: $color-primary-green;
    border: none;
    width: 60px;
    max-width: 100%;
    border-radius: 13px;
    height: 30px;
    transition: 0.3s;
    color: white;
    margin-top: 15px;
    font-size: 16px;

    &:hover {
      background: darken($color-primary-green, 10%);
      transition: 0.3s;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.911);
  z-index: 999;
  min-height: 200vh;

  &__box {
    min-height: 100px;
    width: 100%;
    margin: 150px auto 0;
    max-width: 600px;
    background: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 100px 40px;
    position: relative;
  }

  &__close-button {
    position: absolute;
    right: 40px;
    top: 40px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #393939;
    &:hover {
      color: black;
    }

    &:focus {
      outline: none;
    }
  }
}
